
<div class="row">
    <!-- search box -->
    <div class="col col-sm-7 col-xs-12">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-body">
  
            <!-- languages -->
            <!-- <div class="dropdown">
              <button class="bpaac-btn btn environment-option btn-primary dropdown-toggle-split  btn-sm" type="button"
                id="languageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedLanguage | uppercase}}
                <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu environment-option" id="languageList">
                <li *ngFor="let lang of languages"><a class="dropdown-item" 
                    (click)="onChangeLanguage(lang.key)">{{lang.val}}</a></li>
              </ul>
            </div> -->
  
            <!-- address widget as a library -->
            <br>
            <bp-lib-address-autocomplete-by-component
              [inputLang]="selectedLanguage"
              [defaultLang]="defaultLanguage"
              [minLevel]="minLevel"
              [notInListAllowed]="notInListAllowed"
              [addressParams]="prefilledParameters"
              [messageOption]="selectedMessage['id']"
              [validationMessageOption]="validationMessageOption"
  
              [localityUrl] = "localityUrl"
              [maxSuggestionLocality] = "maxSuggestionLocality['id']"
              [visibleSuggestionLocalityCount] = "visibleSuggestionLocality['id']"
              [sortCriteriaLocality] = "sortCriteriaLocality['id']"
  
              [streetUrl] = "streetUrl"
              [maxSuggestionStreet] = "maxSuggestionStreet['id']"
              [visibleSuggestionStreetCount] = "visibleSuggestionStreet['id']"
              [sortCriteriaStreet]="sortCriteriaStreet['id']"
  
              [streetNumberUrl] = "streetNumberUrl"
              [maxSuggestionStreetNb] = "maxSuggestionStreetNb['id']"
              [visibleSuggestionStreetNbCount] = "visibleSuggestionStreetNb['id']"
              [sortCriteriaStreetNb] = "sortCriteriaStreetNb['id']"
  
              [boxNumberUrl] = "boxNumberUrl"
              [maxSuggestionBoxNb] = "maxSuggestionBoxNb['id']"
              [visibleSuggestionBoxNbCount] = "visibleSuggestionBoxNb['id']"
              [sortCriteriaBoxNb] = "sortCriteriaBoxNb['id']"
              
              [clearInput]="clearInput"
              (addressCompleteEventEmitter)="onAddressComplete($event)"
              (validationMessageEventEmitter)="onAddressValidationMessage($event)"
              (clearInputEventEmitter)="onClearInputEventEmitter($event)"
            >
            </bp-lib-address-autocomplete-by-component>
  
            <br>
            <br />
            <div *ngIf="showSelectedAddress && isSelectedAddressPresent()">
                <strong>Selected address:</strong> {{ completeAddress }} <br />
                <strong>All Attributes:</strong>
                <table>
                    <tr *ngFor="let item of selectedAddress | keyvalue">
                        <td> {{ item.key }} </td>
                        <td width="10px"></td>
                        <td> {{ item.value }} </td>
                    </tr>
                    <tr *ngIf=" ! isAddressComplete()">
                      <td>isComplete</td>
                      <td width="10px"></td>
                      <td style="color: red; font-weight: bold;">false</td>
                    </tr>
                    <tr *ngIf="isAddressComplete()">
                      <td style="color: green; font-weight: bold;"><br>Complete</td>
                      <td width="10px"></td>
                      <td></td>
                    </tr>
                </table>
                <br />
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>