
<div class="row">
    <!-- search box -->
    <div class="col col-sm-7 col-xs-12">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-body">
  
            <!-- languages -->
            <div class="dropdown">
              <button class="bpaac-btn btn environment-option btn-primary dropdown-toggle-split  btn-sm" type="button"
                id="languageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedLanguage | uppercase}}
                <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu environment-option" id="languageList">
                <li *ngFor="let lang of languages"><a class="dropdown-item" 
                    (click)="onChangeLanguage(lang.key)">{{lang.val}}</a></li>
              </ul>
            </div>
  
            <!-- address widget as a library -->
            <br>
            <bp-lib-address-autocomplete-by-component
              [inputLang]="selectedLanguage"
              [defaultLang]="defaultLanguage"
              [minLevel]="minLevel"
              [notInListAllowed]="notInListAllowed"
              [addressParams]="prefilledParameters"
              [messageOption]="selectedMessage['id']"
              [validationMessageOption]="validationMessageOption"
  
              [localityUrl] = "localityUrl"
              [maxSuggestionLocality] = "maxSuggestionLocality['id']"
              [visibleSuggestionLocalityCount] = "visibleSuggestionLocality['id']"
              [sortCriteriaLocality] = "sortCriteriaLocality['id']"
  
              [streetUrl] = "streetUrl"
              [maxSuggestionStreet] = "maxSuggestionStreet['id']"
              [visibleSuggestionStreetCount] = "visibleSuggestionStreet['id']"
              [sortCriteriaStreet]="sortCriteriaStreet['id']"
  
              [streetNumberUrl] = "streetNumberUrl"
              [maxSuggestionStreetNb] = "maxSuggestionStreetNb['id']"
              [visibleSuggestionStreetNbCount] = "visibleSuggestionStreetNb['id']"
              [sortCriteriaStreetNb] = "sortCriteriaStreetNb['id']"
  
              [boxNumberUrl] = "boxNumberUrl"
              [maxSuggestionBoxNb] = "maxSuggestionBoxNb['id']"
              [visibleSuggestionBoxNbCount] = "visibleSuggestionBoxNb['id']"
              [sortCriteriaBoxNb] = "sortCriteriaBoxNb['id']"
              
              [clearInput]="clearInput"
              (addressCompleteEventEmitter)="onAddressComplete($event)"
              (validationMessageEventEmitter)="onAddressValidationMessage($event)"
              (clearInputEventEmitter)="onClearInputEventEmitter($event)"
            >
            </bp-lib-address-autocomplete-by-component>
  
            <br>
            <br />
            <div *ngIf="showSelectedAddress && isSelectedAddressPresent()">
                <strong>Selected address:</strong> {{ completeAddress }} <br />
                <strong>All Attributes:</strong>
                <table>
                    <tr *ngFor="let item of selectedAddress | keyvalue">
                        <td> {{ item.key }} </td>
                        <td width="10px"></td>
                        <td> {{ item.value }} </td>
                    </tr>
                    <tr *ngIf=" ! isAddressComplete()">
                      <td>isComplete</td>
                      <td width="10px"></td>
                      <td style="color: red; font-weight: bold;">false</td>
                    </tr>
                    <tr *ngIf="isAddressComplete()">
                      <td style="color: green; font-weight: bold;"><br>Complete</td>
                      <td width="10px"></td>
                      <td></td>
                    </tr>
                </table>
                <br />
            </div>
  
            <button class="bpaac-btn btn btn-sm btn-primary" 
                    (click)="onClearInput(false)" type="button">Clear input without Focus</button>
            <button class="bpaac-btn btn btn-sm btn-primary" 
                    (click)="onClearInput(true)" type="button">Clear input with Focus</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- search params -->
    <div class="col-sm-5 col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="bpaac-panel-heading panel-heading">
                <h2 class="bpaac-panel-title panel-title">General Options</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="form-horizontal">
  
  
                    <div class="form-group">
                      <label for="notInListControl" class="col-sm-6 control-label">Allow Not-In-List Suggestion:</label>
                      <div class="col-sm-6">
                        <div class="dropdown">
                          <button class="bpaac-btn btn use-option btn-primary dropdown-toggle-split btn-sm" type="button"
                            id="notInListControl" data-toggle="dropdown" aria-haspopup="true" aria-labelby
                            aria-expanded="true">{{notInListAllowed ? 'True' : 'False'}}
                            <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul role="menu" class="dropdown-menu use-option" id="notInListddm1">
                            <li role="presentation"><a role="menuitem" href="#" id="notInList-opt11"
                                (click)="setNotInListOption(true, $event)">True </a></li>
                            <li role="presentation"><a role="menuitem" href="#" id="notInList-opt12"
                                (click)="setNotInListOption(false, $event)">False </a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <label for="notInListControl" class="col-sm-6 control-label">Validation Message Option:</label>
                      <div class="col-sm-6">
                        <div class="dropdown">
                          <button class="bpaac-btn btn use-option btn-primary dropdown-toggle-split btn-sm" type="button"
                            id="notInListControl" data-toggle="dropdown" aria-haspopup="true" aria-labelby
                            aria-expanded="true">{{selectedValidationMessageOption}}
                            <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul role="menu" class="dropdown-menu use-option" id="notInListddm1">
                            <li role="presentation"><a role="menuitem" href="#" id="notInList-opt11"
                                (click)="onSetValidationMessageOption('SHOW', $event)">Show </a></li>
                            <li role="presentation"><a role="menuitem" href="#" id="notInList-opt12"
                                (click)="onSetValidationMessageOption('EMIT', $event)">Emit </a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-sm-12 col-xs-12">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="bpaac-panel-heading panel-heading">
                <h2 class="bpaac-panel-title panel-title">Specific Options</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3 divider-right padding-6 justify-word">
                    <small>PostalCodes /Localities</small>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <small>Streets</small>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <small>Street Numbers</small>
                  </div>
                  <div class="col-sm-3">
                    <small>Box Numbers</small>
                  </div>
                </div>
                <p style="text-align: center;"><u>Use Messages</u></p>
                <div class="row">
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{selectedMessage['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu on-off" id="useOnOff">
                        <li role="presentation" *ngFor="let option of messageOptions">
                          <a role="menuitem" (click)="setMessageOption(option, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6"></div>
                  <div class="col-sm-3 divider-right padding-6"></div>
                  <div class="col-sm-3 padding-6"></div>
                </div>
                <p style="text-align: center;"><u>Max Number Of Suggestions</u></p>
                <div class="row">
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{maxSuggestionLocality['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useMaxLocality">
                        <li role="presentation" *ngFor="let option of maxSuggestions">
                          <a role="menuitem" (click)="setMaxSuggestion(option, 4, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{maxSuggestionStreet['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useMaxStreet">
                        <li role="presentation" *ngFor="let option of maxSuggestions">
                          <a role="menuitem" (click)="setMaxSuggestion(option, 3, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{maxSuggestionStreetNb['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useMaxStreetNb">
                        <li role="presentation" *ngFor="let option of maxSuggestions">
                          <a role="menuitem" (click)="setMaxSuggestion(option, 2, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{maxSuggestionBoxNb['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useMaxBoxNb">
                        <li role="presentation" *ngFor="let option of maxSuggestions">
                          <a role="menuitem" (click)="setMaxSuggestion(option, 1, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p style="text-align: center;"><u>Max Number Of visible Suggestions</u></p>
                <div class="row">
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{visibleSuggestionLocality['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useVisibleLocality">
                        <li role="presentation" *ngFor="let option of visibleSuggestions">
                          <a role="menuitem" (click)="setVisibleSuggestion(option, 4 , $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{visibleSuggestionStreet['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useVisibleStreet">
                        <li role="presentation" *ngFor="let option of visibleSuggestions">
                          <a role="menuitem" (click)="setVisibleSuggestion(option, 3 , $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{visibleSuggestionStreetNb['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useVisibleStreetNb">
                        <li role="presentation" *ngFor="let option of visibleSuggestions">
                          <a role="menuitem" (click)="setVisibleSuggestion(option, 2 , $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{visibleSuggestionBoxNb['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useVisibleBoxNb">
                        <li role="presentation" *ngFor="let option of visibleSuggestions">
                          <a role="menuitem" (click)="setVisibleSuggestion(option, 1 , $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p style="text-align: center;"><u>Sort</u></p>
  
                <div class="row">
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" style="white-space: pre-wrap;"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{sortCriteriaLocality['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useSortLocality">
                        <li role="presentation" *ngFor="let option of localitySortCriterias">
                          <a role="menuitem" (click)="setSortCriteria(option, 4, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" style="white-space: pre-wrap;"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{sortCriteriaStreet['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useSortStreet">
                        <li role="presentation" *ngFor="let option of streetSortCriterias">
                          <a role="menuitem" (click)="setSortCriteria(option, 3, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 divider-right padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" style="white-space: pre-wrap;"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{sortCriteriaStreetNb['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useSortStreetNb">
                        <li role="presentation" *ngFor="let option of streetNbSortCriterias">
                          <a role="menuitem" (click)="setSortCriteria(option, 2, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-3 padding-6">
                    <div class="dropdown">
                      <button class="btn on-off btn-primary dropdown-toggle-split btn-xs" style="white-space: pre-wrap;"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-labelby
                        aria-expanded="true">{{sortCriteriaBoxNb['name']}}
                        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu suggestions" id="useSortBoxNb">
                        <li role="presentation" *ngFor="let option of boxNbSortCriterias">
                          <a role="menuitem" (click)="setSortCriteria(option, 1, $event)" href="#"
                            [innerHtml]="option['name']"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
  </div>